# -*- coding: utf-8 -*-
"""
Created on Mon Sep  7 09:31:03 2020

@author: shandilya
"""
html{
height:100%;
}
H1{
color:#ffffff;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size:48px;
text-align:center;
text-shadow:2px 2px;
}

H4{
color:#ffffff;
}

body{
height:100%;
background-image:url("/assets/image.png");
background-size:cover;
background-position:center;
font-family:"Comic Sans MS", cursive, sans-serif;
}

.customtabs{
border-top:10px solid #4d4d4d;
border-bottom:10px solid #4d4d4d;
width:100%;
position:relative;
}
.first-tab{
background-color:#cce6ff;
border-top:3px solid #000d1a !important;
border-bottom:1px solid #000d1a !important;

}
.second-tab{
background-color:#ccccff;
border-top:3px solid #000d1a;
border-bottom:3px solid #000d1a;
}

.second-sel{
box-shadow:1px 1px 0px #e6e6ff;
border-left: 1 px solid lightgrey !important;
border-right: 1px solid lightgrey !important;
border-top:3px solid #000d1a !important;
}

#month-dropdown,#date-dropdown,#region-dropdown,
#country-dropdown,#state-dropdown,#city-dropdown,
#attacktype-dropdown,#chart_dropdown{
width:70%;
height:auto;
display:block;
position:relative;
text-align:center!important;
text-align-last:center;
justify-content:center;
margin-left:auto;
margin-right:auto;
}

#search{
display:block;
text-align:center;
position:relative;
margin-left:auto;
margin-right:auto;
}
